body {
    background-color: black;
    color: white;
    font-family: termina, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

aside{ 
    background-color: black; 
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1vw;
    
}

@media only screen and (max-width : 600px) {

    aside {
        display: none;
    }
    .post-content {
        min-width: 90vw;
    }
} 

article {
    display: flex;
    
    
    
    margin-top: 1vh;
}

h2, h3 {
    text-decoration: underline;
}

h1 {
    font-size: 3vh;
    line-height: 0vw;
}

h2 {
    font-size: 2.8vh;
}

h3 {
    font-size: 2.5vh;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
}

a {
    color: white;

    text-decoration: underline;
}



a.nav-link:link {
    text-decoration: underline;
    color: white;
}

.post-content {
    background-color: rgb(51,51,51);
    border-radius: 25px;
    padding: 2%;
    max-width: 80vw;
}