<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="../../css/post.css">
		<link rel="stylesheet" href="https://use.typekit.net/tdk2mpb.css">
	</head>
	<body>
		{{ partial "header.html" .}}
		<article class="a-single">
			<aside>
				<!-- <a href="{{.Site.BaseURL}}/{{.Section}}">&#8592; Return</a> -->
				{{ if or .Params.Author site.Author.name }}
				{{ .Params.Author | default site.Author.name}}
				{{ end }}
				<time>{{ .Date.Format "January 2, 2006"}}</time>
			</aside>
				
			<section class="post-content">
				<h1>{{ .Title }}</h1>
				{{ .Content }}
			</section>
			
		</article>
		
		{{ partial "footer.html"}}
		<p> See a mistake or want to make an edit? make a pull request for this post <a href="https://github.com/elonsoc/website/tree/master/content/{{ .File.Path }}">here</a>.</p>
	</body>
</html>
